@import url('https://fonts.googleapis.com/css?family=Rubik|Source+Code+Pro');

*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: Garamond;
}

.navbar {
    /*border: 1px solid #ffffff;*/
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1800px; 
    margin: 0 0;
    padding: 0 0;
}

#navbar-logo {
    width: 60%;
    background-color: #e65555;
    /*background-image: linear-gradient(to right, #4b48fa 0%, #f079d2
    50%);*/
    background-image: url("images/photo11.jpg");
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: Rubik;
}


.fa-gem{
    margin-right: 0.5rem;
}


.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color:#60a2f8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-family: Rubik;
}

.navbar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-family: Rubik;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    height: 75%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #60a2f8;
    color: #fff
}


.button:hover {
    background: #0749a0;
    transition: all 0.3s ease;
}

.navbar-links:hover {
    color: #0749a0;
    transition: all 0.3s ease;
}


.main-header {
    background-color: #000000;
    
    
    
    background-position: 0px;
    background-position: fixed;
    padding-bottom: 10px;
    padding-top: 10px;
}

.title-page {
    text-align: center;
    background-color: #000000;
    background-image: url(images/photo8.JPG);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 8rem;
    
    

    
}

/* Home Page*/ 
.main-background {
    background-color: #000000;
    height: 50vh;
}
.main {
    background-color: #0749a0;
    background-image: url("images/ah.jpg");
    background-position: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    width: 100%;
    height: 411px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding-bottom: 30px;
}

.main a{
    background-color: transparent;
    color: #60a2f8;
    position: relative;
    
}

.btn {
    text-decoration: none;
    padding: 30px 30px;
    border: 2px solid #fff;
    border-radius: 100%;
    transition: .6s;
    animation: animate 2s 1;
}

.btn:hover{
    background-color: #fff;
    color: #26262662;
}

/*Photo Pages*/

.photo-page {
    background-color: #000000;
    color: #FFFFFF;
    
}


.photo-page-container {
    
  
    margin: 0 auto;
    height: 100%;
    background-color: #000000; 
    z-index: 1;
    width: 100%;
    max-width: 1225px;
    padding: 20px 50px;
    padding-bottom: 100px;
    
    
    
}

.photo-page-content h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    

}

.photo-page-content p {
    padding-top: 10px;
    padding-bottom: 150px;
    font-family: Arial;
    font-size: 2rem;
}

/*illustration Pages*/

.ill-page {
    background-color: #000000;
    background-image: url(images/sketch.jpg);
    background-position: 0px;
    
    color: #FFFFFF;
}


.ill-page-container {
    
  
    margin: 0 auto;
    height: 100%;
    background-color: #000000; 
    z-index: 1;
    width: 100%;
    max-width: 1225px;
    padding: 20px 50px;
    padding-bottom: 100px;
    
    
    
}

.ill-page-content h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    

}

.ill-page-content p {
    padding-top: 10px;
    padding-bottom: 150px;
    font-family: Arial;
    font-size: 2rem;
}


/*Audio Submissions Page*/
.audio-page {
    background-color: #000000;
    
   
    color: #FFFFFF;
    height: 100vh;
    width: 100vw;
}

.audio-page-background {
    background-color: #000000;
    
    margin: 0 auto;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    max-width: 1225px;
    padding: 20px 50px;
    
}

.audio-page-content {
    display: block;
    text-align: center;
    border: 20px solid black;
}

.audio-page-content h1 {
    padding-top: 35px;
    
}


.audio-page-content p {
    padding-bottom: 50px;
    
}

audio {
    padding: 10px;
}

audio::-webkit-media-controls-panel {
    background-color: #ffffff;
}

/* contact me page */



.contact-page {
    background-color: #000000;
    /*background-image: url(thing.png);*/
    background-blend-mode: multiply;
    color: #FFFFFF;
}

.contact-page-container {
    
  
    margin: 0 auto;
    height: 100vh;
    background-color: #000000; 
    z-index: 1;
    width: 100%;
    max-width: 1225px;
    padding: 20px 50px;
    font-style: italic;
    
    
}

.contact-page-content h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Cambria;

}

.contact-page-content h2 {
   
 
}

.contact-page-content pre {
    padding-top: 10px;
    padding-bottom: 150px;
    font-family: Cambria;
    font-size: 2rem;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
}

#photo1 {
    
    padding: 100px, 100px;
    height: auto;
    width: 60vh;
    
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    
    
}
